
.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 864px;
  margin: auto;
  background-color: #fff;
}

.inputSection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #dfdddd;
  border-radius: 5px;
  font-size: 16px;
}

.buttonSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.askButton,
.answerButton,
.postButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.askIcon {
  margin-right: 5px;
  color: red;
  font-size: 18px;
}

.answerIcon {
  margin-right: 5px;
  color: green;
  font-size: 18px;
}

.postIcon {
  margin-right: 5px;
  color: blue;
  font-size: 18px;
}



